.vr {
    border-left: 1px solid #eeeeee;
    height: 100%;
    width: 0;
}

.doc-spec-card {
    display: inline-block !important;
    width: 250px;
    max-height: 300px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    overflow-y: auto;
    vertical-align: top;
}

.doc-spec-container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;

    position: relative;
}

.underlined {
    text-decoration: underline !important;
}

.lightweight {
    font-weight: 100;
}